html{
  background-color: #333333;
}
html, body{
  min-height: 100%;   
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
img.logo {
}
ul {
  text-align: center;
  width: 100%;
  margin-top: 60px;
  padding: 0;
}
ul li {
  display: inline-block;
}
ul li img {
  margin: 0 15px;
  height: 64px;
}
