html{
	background-color: #333333;
}
img.logo {
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -411px;
}
ul {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	margin-top: 120px;
	padding: 0;
}
ul li {
	display: inline-block;
}
ul li img {
	margin: 0 15px;
	height: 64px;
}
